packer_cache/
output-*
*.box
*.tar.gz
iso
crash.log
tmp
.vagrant/
*.swp
Makefile.local
box/
.tmpatlas/

.DS_Store
.bundle

.gradle/
/build/

gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache/
gradle/wrapper/gradle-wrapper.properties
.idea/
*.iml
